@import 'base';
.categories{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    
    form{
        width: 290px;
        margin-bottom: 20px;
    }
    
    label{
        display: block;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    input{
        width: 210px;
        border: none;
        outline: none;
        border-bottom: 1px solid $binance-light-color;
    }
    
    button{
        width: 70px;
        height: 35px;
        
        background: $binance-light-color;
        color: $binance-dark-color;
        margin-left: 10px;
    }
    
    .row{
        min-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
}   