  @import 'header';

  @import 'history';
   
  @import 'products';
   
  @import 'detailProduct';
   
  @import 'login';
   
  @import 'cart'; 
   
  @import 'categories';
   
  @import 'createProduct';

  @import 'binance';

  @import 'loading';
  
  @import 'productItem';

  @import 'notFound';

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    padding: 0; 
    margin: 0;
    font-family: BinancePlex,PingFangSC-Regular,'IBM Plex Sans','Microsoft YaHei',sans-serif; 
  }
   
  .App{
    width: 100%; 
    height: 100%;   
  }
  a{
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  button{
    border: none;
    outline: none; 
    cursor: pointer;
  }
 